<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Show Models</title>
</head>
<body>
<div align="center">
    <h1>Model List</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>MODEL ID</th>
                <th>MODEL</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="modell : ${listModels}">
                <td th:text="${modell.modelId}">Model Id</td>
                <td th:text="${modell.model}">Model</td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>